.custom-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1F2937, #6B21A8, #1F2937);
}

/* hero section button */
.hero_button button{
  border-radius: 9999px; 
  font-size: 1.5rem;
  transition: all 0.3s ease !important;
}


.hero_button button.btn .custom-hover:hover {
  background-color: #ffffff !important; 
  color: #111827 !important; 
}

/* feature section */
.feature_summary{
  border: solid 1px #111827;
  background-color: #111827;
}

.feature_summary:hover{
  background-color: transparent;
  border: none;
  transition: all 0.3s ease !important;
  transform: scale(1.1);
}

/* pricing */
.bg-gradient-custom {
  background-image: linear-gradient(to bottom right, #3b82f6, #9333ea);
}